body {
	background-color: #ccc;
	color: #222;
	font: 1.0em helvetica;
	user-select: none;
	/* Prevent text selection */
	cursor: default;
	/* Disable text cursor */
}

#name {
	position: absolute;
	background-color: rgb(255, 255, 255);
	width: fit-content;
	opacity: 0;
	border-radius: 5px;
	border: 3px solid rgb(245, 128, 128);
	padding: 0px 5px;
	font-size: 1.5rem;

}

.countrySelectDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#countryDropdown {
	width: 130px;
	padding: 10px;
	border-radius: 10px;
	font-size: 92%;
	border: 2px solid black;
	font-size: 14px;
	outline: none;


}


#timeCont {
	background-color: white;
	width: fit-content;
	font-size: 1.5rem;
	padding: 5px 5px;
	border-radius: 5px;
	border: 3px solid rgb(245, 128, 128);
}

.btnDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}


svg path {
	cursor: pointer;
}


h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: justify;
	/* margin: 1em 0; */
}

p {
	margin: 1em 0;
}

.content {}

.steptext {
	display: inline;
	font-size: 14px;
	text-align: center;
	text-align: justify;
}

#alphabetInput {
	outline: none;
}

#errorText {
	/* display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px; */
	color: red;
	text-align: center;
	font-size: 18px;
	position: relative;
	top: -10px;
}

.place {
	width: 40px;
}

.out {
	grid-column: 1;
	width: 50px;
	height: 50px;
	border-radius: 20%;
	/* font-weight: 500; */
	font-weight: bold;
	border: 2.5px solid rgb(0, 0, 0);
	color: #000000;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 0;

}

.main-heading {

	display: flex;
	justify-content: center;
	background-color: black;
	/* border: 2px solid;
  border-radius: 0%;
  margin: 10px 0px 10px 0px; */
	color: white;
	font-family: verdana;
	font-size: 16px;
	text-transform: uppercase;
}

.main-canvas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	height: 600px;
	box-sizing: border-box;
	/* Makes padding and border part of the height/width */
	padding-bottom: 2px;
	/* Prevents content from overlapping with the footer */

}

#simscreen {
	position: relative;
	left: 0%;
	top: 55%;
	height: 600px;
	width: 800px;
	border: solid 1px;
}

.simsubscreen {
	margin: 10px 50px 0px 50px;

}

#copyright {
	/* display: flex;
	font-size: 12px;
	justify-content: center;
	text-align: center;

	padding: 18px;
    width: 100%; */
	/* text-align: center;
	font-size: 12px;
	margin-top: 200px; */
	/* padding: 12px; */
	display: flex;
	flex-direction: column;
	margin-top: 0;
	font-size: 12px;
	text-align: center;

}


.incanvas {
	margin: 5px 0 0 5px;
	padding: 0;
	line-height: 1.4;
}

.grid-page1 {
	/* display: grid;
	grid-template-rows: 1fr 1fr auto; */
	flex-grow: 1;
}

#nav {

	align-self: flex-end;
	margin-right: 10px;
	cursor: pointer;
}

select {
	width: 150px;
	/* font-weight: bold; */
	position: absolute;
	left: 310px;
	top: 96px;
	scroll-padding-left: 2%;
	/* padding-bottom: 2%; */
	scroll-padding-top: 2%;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.button {

	position: absolute;
	left: 245px;
	top: 190px;
	border: #000 1px solid;
	cursor: pointer;
}

.button:disabled {
	color: inherit;
	opacity: 1;
	border: #000 1px solid;
	cursor: not-allowed;

}

/* label {
	position: absolute;
	left: 170px;
	top: 103px;
	font-size: 15px
} */

.label {
	/* display: inline-block; */
	display: none;
	width: 80px; /* Adjust width as needed */
	/* font-weight: bold; */
}

.value {
	/* display: inline-block; */
}

.infoLine{
	margin-bottom: 10px;
}

#playButton {
	position: relative;
	/* position: absolute;
	left:300px;
	top: 150px; */
	width: 70px;
	height: 65px;
	border-radius: 100%;
	border-color: #000;
	color: #000;
	padding-top: 30px;
	background-color: rgb(219, 221, 221);
	cursor: pointer;
	font-weight: 600;
	outline: none;

}

#playButton::before {
	position: absolute;
	content: '';
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
	border-left: #000 15px solid;
	top: 45%;
	left: 50%;
	transform: translate(-40%, -50%);


}

#playButton:disabled {
	/* position: absolute;
	left:300px;
	top: 150px; */
	width: 70px;
	height: 65px;
	border-radius: 100%;
	border-color: #000;
	color: #000;
	padding-top: 30px;
	font-weight: 600;
	cursor: not-allowed;
}

p.ad {
	display: flex;
	justify-content: center;
	font-size: 16px;
}

p.morse {
	position: absolute;
	left: 388px;
	top: 69px;
	/* font-weight: 600; */
	/* font-size: 20px; */
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;



}

.selectmorse {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;

}

#morseOutput {
	font-size: 65px;
	letter-spacing: 8px;
	color: black;
	font-family: Arial, sans-serif;
	/* background-color: yellow;  */

}

/* p.selectmorse{
	position: absolute;
	left:243px;
	top: 70px;
} */
p.dm {
	border: 2px solid black;
	padding: 1rem;
	border-radius: 20%;
	font-weight: 600;
	font-size: larger;
	height: 64px;
	width: 46.6875px;
}

.morsePlay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.morsedisplay1 {


	font-weight: 700;
	font-size: 58px;
	font-family: monospace;
}

.button {
	display: block;
	margin-left: 55px;
	margin-top: 170px;
}

.repeat1 {
	position: absolute;
	top: 410px;
	left: 300px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(224, 223, 223);
	color: rgb(32, 32, 32);
	margin-left: -5px;
	padding: 8px 8px;
	font-size: 10px;


}

.warning {
	visibility: hidden;
	display: flex;
	justify-content: center;
}

.pd {
	/* margin: 40px; */
	padding-right: 35px;
}

.pd1 {
	/* margin: 40px; */
	padding-right: 35px;
}

.opDoubledash {
	font-weight: 600;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.repeatname {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: small;
}

.numberInput {
	cursor: pointer;
	width: 8%;
	border: 1px solid black;
	border-radius: 10%;
	text-align: center;
}

.numberInput:disabled {

	cursor: not-allowed;
}

#slider {
	width: 39%;
	position: absolute;
	left: 185px;
	top: 15rem
}

.selectNumber {
	position: absolute;
	top: 150px;
	left: 235px;
}

#morseImage {
	width: 80%;
	height: 100%;
}

.hintColumn {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	gap: 1rem;
	padding: 6px;
	/* position: relative;
	top: -20px; */
}

#convertButton {
	outline: none;
	
}

#hintButton {

	padding: 10px 10px;
	cursor: pointer;
	border-radius: 8px;
	font-weight: 600;
	font-family: sans-serif;
	margin-top: -40px;
	outline: none;
}

.imageContent {
	display: none;
	flex-direction: column;
	/* Arrange items vertically */
	align-items: center;
	justify-content: center;
	width: 100%;
	/* Ensure container takes full width */
	height: auto;
	/* Adjust height as needed */
	text-align: center;
	margin-top: -50px;
	/* Center text inside the span */

}

:focus {
	outline: 2px dashed blue;
}

#callsignDiv {
	display: grid;
	grid-template-columns: auto 1fr; /* Two columns: auto for labels, 1fr for the output */
	row-gap: 10px; /* Space between rows */
	column-gap: 20px; /* Space between columns */
	justify-content: center; /* Centers the content horizontally */
	align-items: center; /* Centers the content vertically */
	text-align: center; /* Center the text */
	max-width: 600px;
	font-size: 16px;
	padding: 20px;
	
	border-radius: 10px;
	position: relative;
	top: 20px;
}

.label {
	text-align: left;
	font-size: 18px
	/* font-weight: bold; */
}

.output {
	text-align: left;
}

#errorMessage {
	padding: 10px;
	font-size: 18px;
	color: red;
}

.country,
.callsignCountry {
	font-size: 18px;
	font-weight: bold;

}


.text1{
	/* color: red; */
	position: relative;
	top: -5px;
	
}

.nameDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	position: relative;
	top: -25px;
}

#morse-code-value {
	width: 100px;
	word-wrap: break-word;
	display: inline-block;
	position: relative;
	left: 270px;
	bottom: 60px;
	font-weight: bold;
	/* margin-left: 20px; */

}


#errorMain {
	position: relative;
	top: 100px;
	left: 130px;
}

.menuContainer {
	position: relative;
	top: -50px;
}

#maps {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -10px;

}

/* #selectedCountry{
	position: relative;
	left: -20px;
} */



.mapBtn {
	padding: 10px;
	border-radius: 10px;
	outline: none;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.countrySelectDiv {
	position: relative;
	width: 100%;
	/* Ensure the div takes full width */
	max-width: 200px;
	/* Adjust as needed for your design */
}

#countryDropdown {
	width: 100%;
	/* Input takes full width of the parent */
	box-sizing: border-box;
	/* Ensures padding and border are included in the width */
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	/* Match the width of the input field */
	max-height: 260px;
	overflow-y: auto;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 7%;
	outline: none;
	top: 100%;
	/* Position directly below the input field */
	left: 0;
	/* Align with the input field */
}

#dropContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -3px;
	left: 335px;
}

.dropdown-content a {
	color: black;
	padding: 16px 13px;
	text-decoration: none;
	display: block;
	outline: none;
	/* border-radius: 10%; */
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}


#mapContainer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	align-items: center;
	justify-content: center;
	top: -30px;
	border: 1px solid black;
}

#hamMap {
	max-width: 100%;
	max-height: 100%;
	transition: transform 0.2s ease;
	cursor: all-scroll;
  }

#closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	background-color: #ff4d4d;
	/* Red background */
	color: white;
	/* White text color */
	border: none;
	/* No border */
	border-radius: 50%;
	/* Make it a circle */
	width: 30px;
	/* Width of the button */
	height: 30px;
	/* Height of the button */
	font-size: 18px;
	/* Size of the "X" */
	font-weight: bold;
	/* Bold text */
	cursor: pointer;
	/* Pointer cursor on hover */
	text-align: center;
	/* Center the "X" */
	line-height: 30px;
	/* Center the "X" vertically */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	/* Add a subtle shadow */
	outline: none;
}

#closeButton:hover {
	background-color: #ff1a1a;
	outline: none;
	/* Darker red on hover */
}


.hidden {
	display: none;
}

#hamMap:active {
	cursor: grabbing;
}


#zoomControls {
	position: absolute;
	bottom: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
  }
  
  .zoomBtn {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 20px;
	margin: 5px 0;
	cursor: pointer;
	outline: none;
  }
  
  .zoomBtn:hover {
	background-color: #f0f0f0;
  }
  