@media screen and (min-width: 300px) {
  body {
    background-color: rgb(255, 255, 255);
  }

  h1 {
    font-size: 1.1em;
    text-align: center;
  }

  #copyright {
    margin: 0px 20px;

  }

  .numberInput {
    width: 15%;
  }

  #morseOutput {
    grid-column: 1;
    font-size: 45px;
    font-family: Arial, sans-serif;
  }



  .main-canvas {
    height: 100%;
    width: auto;
  
}

  /* .simsubscreen
{
  margin: 0px ;

} */
  /* .main-canvas{
    transform: scale(0.8);
  } */
  .morsePlay {
    grid-template-columns: 1fr;
  }

  .country,
  .callsignCountry {
    font-size: 14px;
  }
  .zoomBtn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 10px;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
    }

    .colorBand4 {
      position: relative;
      /* margin-left: 100px; */
      /* left: 494px; */
      left: 135px;
      bottom: 63px;
      border-radius: 3px;
      z-index: 1;
  }
  .colorBand4 {
    position: relative;
    /* margin-left: 100px; */
    /* left: 494px; */
    left: 135px;
    bottom: 63px;
    border-radius: 3px;
    z-index: 1;
}
#maps {
  top: -37px;

}
#errorMessage {
  font-size: 14px;
}
.label{
  font-size: 14px;
}


}

@media screen and (min-width: 500px) {

  body {
    background-color: rgb(255, 255, 255);
  }

  h1 {
    font-size: 1.3em;
  }

  /* .main-canvas{
      transform: scale(0.7);
    } */
  .morsePlay {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  #morseOutput {
    grid-column: 1;
    font-size: 60px;
    font-family: Arial, sans-serif;
  }

  .hintColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;

  }

  /* .main-canvas {
    height: 100%;
    width: auto;
  } */

  .country,
  .callsignCountry {
    font-size: 14px;
  }
  .zoomBtn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 10px;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
    }
    .main-canvas{
      height: 100%;
      width: auto;
    }
    #maps {
      top: -37px;
    
    }
    #errorMessage {
      font-size: 16px;
    }
    .label{
      font-size: 14px;
    }

  /* .numberInput{
      width: 8%;
    } */
}


@media screen and (min-width: 720px) {

  body {
    background-color: rgb(255, 255, 255);
  }

  .content {
    height: 600px;
    width: 800px;
    margin: 0 auto;
  }

  /* .main-canvas{
      transform: scale(1);
    } */
  .morsePlay {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #morseOutput {
    grid-column: 1;
    font-size: 60px;
    font-family: Arial, sans-serif;
  }

  .hintColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;

  }

  .country,
  .callsignCountry {
    font-size: 14px;
  }
  h1 {
    font-size: 1.8em;
  }
  .zoomBtn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
    }
    /* .main-canvas {
      height: 600px;
      width: auto;
     
  } */
  #maps {
    top: -10px;
  
  }
  #errorMessage {
    font-size: 18px;
  }
  .label{
    font-size: 14px;
  }

}


@media screen and (min-width: 960px) {

  body {
    font-size: 1.25em;
    /* background-color: rgb(13, 118, 255); */
  }

  .content {
    height: 600px;
    width: 800px;
    margin: 0 auto;
  }

  .numberInput {
    width: 8%;
  }

  #morseOutput {
    grid-column: 1;
    font-size: 65px;
    font-family: Arial, sans-serif;
  }

  .hintColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    font-size: 1.7em;
    text-align: center;
  }

  .main-canvas {
    height: 600px;
    width: auto;
  }

  .country,
  .callsignCountry {
    font-size: 16px;
  }

  .zoomBtn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
    }

    #maps {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -10px;
    
    }
    .label{
      font-size: 16px;
    }

  /* .main-canvas{
      transform: scale(1);
    } */
}